* {padding:0px;
   margin:0px;}

.container{
	position:relative;
	overflow:hidden;
	max-width: 1200px;
	height:100vh;
}
.navbar-brand img {width:60px;}

footer{
	position:absolute;
	bottom:0;
	width: 100%;
	margin-top: 2rem;	
}

